@font-face {
    font-family: 'forcedSquare';
    src: url('/font/FORCED SQUARE.ttf') format('truetype');
}

body {
    background-image: url('/img/possible.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
    background-color: khaki;
    font-family: 'forcedSquare', Arial, sans-serif; 
}

section{
    margin-top: 1%;
    background-color: #FEFBE8;
    border: solid 3px #6E7165;
    border-radius: 20px;
    height: 90%; 
    width: 70%;
    position: absolute;
    top: 44%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:8%;
    width: 100%;
    background-color: #6EAA78;
    border: solid 3px #6E7165;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    color: #433455;
    font-family: 'forcedSquare', Arial, sans-serif;
    transform: translate(-0.5%, -10%); 
    font-size: larger;
}

header img{
    height:60%;
    padding: 0 1%;
}

#chatbox{
    background-color: white;
    text-align: left;
    padding-left: 2%;
    color: #6EAA78;
    margin-top: 2%;
    height:50%;
    width:70%;
    border: solid 2px #9E6C6B;
    border-radius: 10px;
    position: absolute;
    top: 35%; 
    left: 40%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    font-size:large ;
}

::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #93A167;
    border-radius: 6px; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #6E6962; /* Color of the scroll thumb */
     border-radius: 6px; /* Rounded corners */
}

#chatbox p{
    margin:1%;
}

#responsebox{
    background-color: white;
    text-align: left;
    margin-top: 2%;
    height:25%;
    width:70%;
    border: solid 2px #9E6C6B;
    border-radius: 10px;
    position: absolute;
    top: 80%; 
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: large;
}

#responsebox div{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
}

#responsebox a{
    text-decoration: none;
    color: black;
}
#responsebox a:hover{
    font-size: larger;
}

#pfp{
    background-color: #FFF8F0;
    background-image: url(/img/reelin.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 2%;
    height:20%;
    width:20%;
    border: solid 2px #9E6C6B;
    border-radius: 10px;
    position: absolute;
    top: 30%; 
    left: 87.5%;
    transform: translate(-50%, -50%);
}

#ur_pfp{
    background-color: white;
    background-image: url(/img/pfp1.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 2%;
    height:20%;
    width:20%;
    border: solid 2px #9E6C6B;
    border-radius: 10px;
    position: absolute;
    top: 80%; 
    left: 12%;
    transform: translate(-50%, -50%);
}

#id{
    margin-top: 2%;
    height:20%;
    width:20%;
    position: absolute;
    top: 60%; 
    left: 92%;
    transform: translate(-50%, -50%);
}

#id img{
    height: 7vh;
    width:7vw;
}

logo img{
    margin-left: 3%;
    scale: 1.5;
    margin-top: 2%;
}

logo p{
    display: flex;
    align-items: center;
    color: #433455;
    margin-left: 1.5%;
}

.screen-name {
    color: #ff0000; /* Red color */
}

#screenName{
    color: yellowgreen;
}
#screenName2{
    color: yellowgreen;
}
#screenName3{
    color: yellowgreen;
}

#screenName4{
    color: yellowgreen;
}
#screenName5{
    color: yellowgreen;
}
#screenName6{
    color: yellowgreen;
}
#screenName7{
    color: yellowgreen;
}

