@font-face {
    font-family: 'forcedSquare';
    src: url('/font/FORCED SQUARE.ttf') format('truetype');
}

body {
    background-image: url('/img/possible.png');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
    background-color: khaki;
    font-family: 'forcedSquare', Arial, sans-serif; 
}

section{
    margin-top: 1%;
    background-color: #C5CCB8;
    border: solid 3px #6E7165;
    border-radius: 20px;
    height: 90%; 
    width: 50%;
    position: absolute;
    top: 44%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

section a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:6%;
    width: 100%;
    background-color: #6EAA78;
    border: solid 3px #6E7165;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    color: #433455;
    font-family: 'forcedSquare', Arial, sans-serif;
    transform: translate(-0.5%, -10%); 
    font-size: larger;
}

header img{
    height:70%;
    padding: 0 1%;
}


nav a{
    text-decoration: none;  
}

logo img{
    margin-left: 3%;
    scale: 1.5;
    margin-top: 2%;
}

logo p{
    display: flex;
    align-items: center;
    color: #433455;
    margin-left: 1.5%;
}

.scroll-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 53vh;
    width: 33vw;
    overflow: auto;
    text-align: start;
    background-color: #FEFBE8;
    border: 4px solid #9E6C6B;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    transform: translate(-40%, -17%);
}

#profile img{
    margin-left: 1vw;
    height:7vh;
    width: 7vw;
    border: #9D9F7F solid 2px;
}

.scroll-box p {
    color:#93A167;
    transform: translate(1%, -90%);
    font-size: 1.3em;
}
#container1{
    width: 100%;
    height: 13%;
    align-items: left;
    margin-top: 0;
    display: flex;
}

#container1  img{
    height: 120%;
    width:17%;
    border: #9D9F7F solid 2px;
}

#container1 p{
margin-left: 4%;
margin-top: 20%;
}

#container2{
    width: 100%;
    height: 13%;
    align-items: left;
    margin-top: 0;
    display: flex;
}
#container2  img{
    height: 120%;
    width:17%;
    border: #9D9F7F solid 2px;
}

#container2 p{
    margin-left: 10%;
    margin-top: 35%;
}

#container3{
    width: 100%;
    height: 13%;
    align-items: left;
    margin-top: 0;
    display: flex;
}

#container3  img{
    height: 120%;
    width:17%;
    border: #9D9F7F solid 2px;
}

#container3 p{
    margin-left: 5%;
    margin-top: 15%;
}

#um{
    display: flex;
    align-items: left;
    margin-left: 17%;
    width: 70%;
    height: 5%;
    margin-bottom: 5%;
}

#um img{
    width:8%;
    height:90%;
    margin-left: 5%;
}
#um h3{
    margin-left:5%;
    margin-top: 0%;
}

::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #93A167;
    border-radius: 6px; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #6E6962; /* Color of the scroll thumb */
     border-radius: 6px; /* Rounded corners */
}

#pfp img{
    transform: translate(20%, 90%);
    border: #9E6C6B 2px solid;
    height: 15vh;
    border-radius: 6px;
}

#ur_online{
    transform: translate(1000%, 300%);
    height: 2vh;
    width: 3%;
    background-color: #6EAA78;
}

#word_online{
    transform: translate(35%, 135%);
    font-size: 20px;
}

#pfp p{
    color: aliceblue;
    transform: translate(30%, -250%);
    font-size: 30px;
}

#pfp h3{
    color: #433455;
    transform: translate(42%, -200%);
    font-size: 20px;
}
